.git
.github
.vs
.vscode
Documentation
frontend
node_modules
dist
tmp
out-tsc
coverage
**/bin
**/obj
**/.angular/cache
storage
backend/src/Swyftly.Api/storage
.env
.env.*
*.user
*.suo
*.log
TestResults
artifacts
deploy-artifacts
